[Unit]
Description=The PokeNode Monitoring Agent
After=network-online.target
Wants=network-online.target

[Service]
User=pn-agent
Restart=always
Environment=MODE=PROD
Environment=API=https://api.pokenode.com/stats
Environment=NODEID=PN_NODEID
ExecStart=/etc/pokenode/pn-agent

OOMScoreAdjust=-900
SyslogIdentifier=PokeNodeAgent
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
